* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Montserrat", sans-serif;
    color: aliceblue;
}

html {
    scroll-behavior: smooth;
}
/* navbar */
.logonavbar {
    width: 24px;
    margin-right: 10px;
}

.menubar {

    position: absolute;
    width: 100vw;
}

.menulinks {
    margin-left: 50vw;
}

main {
    background-color: rgb(31, 56, 56);
}
/* Iconos Fontawesome */
i {
    font-size: 24px;
    margin: 15px 0px;

}
/* Elementos card */

.cardbox {
    padding: 0;
    margin: 10px 7px;
    border-color: yellow;
}

.imgcard {
    height: 150px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    vertical-align: middle;
}

.pfooter {
    display: inline;
}

.iconsfooter {
    display: flex;
    gap: 15px;
}